*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  /* background: url("https://c4.wallpaperflare.com/wallpaper/22/762/507/film-movie-filmmaker-movie-director-wallpaper-preview.jpg"); */
  color: white;
  font-family: 'Segoe UI', sans-serif;
}
.cards{
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: 50px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
  background: url("https://wallpaperbat.com/img/332178-wallpaper-posters-movie-posters.jpg");
}
.plus{
  padding-left: 10px;
  color: rgb(189, 3, 3);
  font-size: 20px;
  font-weight: bold;
}

.photo{
  position: relative;
  float: left;
  margin-right: 20px;
  height: 300px;
  box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}
.iden{
  color: #555;
        font-weight: 400;
}

.sear{
  margin-top: 10px;
  margin-left: 500px;
}
.titre{
  color: rgb(82, 70, 70);
  font-weight: 400;
}
.adding-movie{
  margin-left:600px ;
  padding:12px 24px;
 
}
.close{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 20px;
}
.descr{
  padding: 45px;
  height: 50%;
    color: #f6f8f8;
}
.movie_social{
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.movie-details{
  color: rgb(48, 48, 47);
  font-size: medium;
  
}
  ul{
    list-style: none;
    padding: 0;
  }
    li{
      display: inline-block;
      color: rgba(0,0,0,0.3);
      transition: color 0.3s;
      transition-delay: 0.15s;
      margin: 0 10px;
    }
      .hover{
        transition: color 0.3s;
        color: rgba(0,0,0,0.7);
      }
      .rat{
        margin-bottom: 30px;
      }
      .des{
        position: relative;
        display: block;
        width: 900px;
        height: 550px;
        margin: 50px auto; 
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.4s;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
      }
  
